.venv/
venv/
tabfm/
.env
Model_Testing/AutogluonModels/
.env.*
!.env.example
__pycache__/
.DS_Store
.claude
data/
benchmark_dataset.zip
tabarena/
Model_Testing/Titanic_Dataset/memory_files/
Model_Testing/Heloc/
Model_Testing/Bank_Marketing_Dataset/memory_files/
Model_Testing/Cardiovascular_Disease_Dataset/memory_files/
Model_Testing/Bank_Churn_Dataset/memory_files/
Model_Testing/HEPMASS_Dataset/memory_files/
tabarena_dataset.py
Mitra_kaggle.py
mitra_weights/
kaggle_items/
TabPFN_kaggle.py
Model_Testing/HIGGS_Dataset/higgs.zip
Model_Testing/HIGGS_Dataset/higgs_format.py
Model_Testing/HIGGS_Dataset/HIGGS.csv.gz
Model_Testing/HIGGS_Dataset/memory_files/
Model_Testing/HIGGS_Dataset/train.csv
Model_Testing/HIGGS_Dataset/test.csv
Model_Testing/HIGGS_Dataset/test_features.csv
Model_Testing/HIGGS_Dataset/test_labels.csv
hepmass.zip
hepmass_format.py
Claude.md
AGENTS.md
Kumo_explain.py
dataset_change.py
Model_Testing/Water_Quality/
Model_Testing/Airline_Satisfaction/
Model_Testing/Criteo/
Model_Testing/Forest_Cover/
scaling_charts.html
wwai-main/Model_Testing/HIGGS_Dataset/
Model_Testing/HEPMASS_Dataset/
Model_Testing/Bank_Churn_Dataset/
Model_Testing/customer_churn_master.csv
Model_Testing/customer_churn_training.csv
Model_Testing/HIGGS_Dataset
.vscode/
Model_Testing/datasets